.social-buttons-container {
  font-size: 1px;
  overflow: hidden;
  display: inline-block;
}

.g-plusone-container {
  float: left;
  display: inline-block;
  padding-left: 15px;
}

.fb-like-container {
  float: left;
  display: inline-block;
  padding-left: 15px;  
}

.tableHeaderRow {
    background-color: #fafafa;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.header {
    display: inline-block;
}

.header-icon {
    vertical-align: bottom;
    padding-right: 8px;
    display: inline-block;
}

.header-icon-img {
  height: 48px;
  width: 48px;  
}

.primaryStatusProgressContainer {
    height: 20px;
    padding-top: 10px;
}

.primaryStatusSpinnerImg {
  height: 16px;
  width: 16px;      
}

.primaryStatusSpinner {
  padding-right: 4px;
  display: inline-block;
}

.primaryStatusText {
  font-size: 16px;
  display: inline-block;
}

.primaryStatusDiv {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 20px;
}

.blue span {
    background-color: #4d90fe;   
}

.progress-bar {
    height: 18px;
    width: 350px;
    background-color: #eee;
}

.main-container {
    padding: 14px; 
    background-color:white; 
    border: 1px solid #599CD4; 
    margin: 0 auto;
}

.footer {
    margin-top: 12px; 
    font-size: 12px; 
    font-weight: normal; 
    background-color: #ECF5FB; 
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

.footerMain {
  display: block;
  color: #555;
  line-height: 150%;
}

.footerAboutApp {
  margin: 0 15px;
}

.footerCopyright {
}

.footerSupport {
}

.footerVersion {
}

.fileTableDiv {
    padding-top: 20px;
}

.fileTableHeaderCaption {
  display: inline-block;
}

.fileTableHeader {
    font-size:18px;
    color: #c00000;
    padding-bottom: 6px;
}

.footerAboutApp {
  
}

.fileTable {
  width: 100%;
}

.tableHeaderCellName {
  white-space: nowrap;
}

.tableHeaderCellSize {
  white-space: nowrap; 
  min-width: 80px; 
  width:80px;
}

.tableHeaderCellStatus {
  width: 100%;
}

.tableRowIcon {
  padding-left: 2px;
  max-width: 16px;
  max-height: 16px;
}

.tableRowNameSpan {
  padding-left: 5px;
}

.filenameCell {
  padding-right: 24px;
  white-space: nowrap;
}

.zipDropArea {
  display: none;
}

.zipDropAreaHover {
  display: none;
}

.rateAppButton {
  display: none;
}

.progress-bar span {
	display: inline-block;
	height: 100%;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    
	-webkit-transition: width .05s ease-out;
	-moz-transition: width .05s ease-out;
	-ms-transition: width .05s ease-out;
	-o-transition: width .05s ease-out;
	transition: width .05s ease-out;	    
}

.stripes span {
    -webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;       		
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


/*===== Buttons =====*/

.button {
    cursor:pointer;
    margin-bottom: 4px;
    margin-left: 0;
    box-sizing: content-box;
    min-width: 54px;*min-width:70px;/*hello,IE7!*/
    border:1px solid #DCDCDC;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    margin-right: 16px;
    line-height: 27px;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
    -webkit-user-select:none;
    -moz-user-select:none;
    visibility: visible;
}

.button:hover, .button.hover {
    border: 1px solid #C6C6C6;
    color: #222;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    visibility: visible;
}

.button:disabled, .button[disabled=disabled], .disabled  .button, .button.disabled, .button.disabled:hover, .button.disabled:active {
    background: #FFF;
    color: #b8b8b8;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0,0,0,0.05);
    cursor: default;
    pointer-events: none;
}

.button-submit:disabled, .button-submit[disabled=disabled], .button-submit.disabled, .button-submit.disabled:hover, .button-submit.disabled:active {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.button-submit {
    border: 1px solid #3079ed;
    color: #FFF;
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
    visibility: visible;
}

.button-submit:hover {
    border: 1px solid #2f5bb7;
    color: #FFF;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}

.button-submit:active, .button-submit:focus:active, .button-submit.focus:active {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 
    inset 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.button-share {
    color: #FFF;
    text-shadow: 0 1 rgba(0,0,0,0.1);
    border: 1 solid #29691d;
    background-color: #3d9400;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#398a00));
    background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
    background-image: -moz-linear-gradient(top,#3d9400,#398a00);
    background-image: -ms-linear-gradient(top,#3d9400,#398a00);
    background-image: -o-linear-gradient(top,#3d9400,#398a00);
    background-image: linear-gradient(top,#3d9400,#398a00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#398a00');
}

.button-share:hover {
    border: 1 solid #2D6200;
    color: #FFF;
    text-shadow: 0 0 rgba(0,0,0,0.3);
    background-color: #368200;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#368200));
    background-image: -webkit-linear-gradient(top,#3d9400,#368200);
    background-image: -moz-linear-gradient(top,#3d9400,#368200);
    background-image: -ms-linear-gradient(top,#3d9400,#368200);
    background-image: -o-linear-gradient(top,#3d9400,#368200);
    background-image: linear-gradient(top,#3d9400,#368200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#368200');
}

.button-share:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.button-red {
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #d14836;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
}

.button-red:hover {
  border: 1px solid #b0281a;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #c53727;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.button-red:active {
  border: 1px solid #992a1b;
  background-color: #b0281a;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
  background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
  background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
  background-image: linear-gradient(top,#dd4b39,#b0281a);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
